$color_1: #ffffff;
$color_2: #808080;
$color_3: white;
$color_4: #000000;
$color_5: black;
$font_family_1: Raleway;
$font_family_2: verdana;
$background_color_1: rgba(0,0,0,1.00);
$background_color_2: #131313;
$background_color_3: #ffffff;
$background_color_4: white;
$background_color_5: black;
$size: 2px;
$primary: #414141;

@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300";
/*********** MEDIA QUERIES **********/
/***********WEBBSHOP***********/
/*********** SCROLLBAR **********/
html {
	body {
		background-color: $background_color_1;
		background-size: cover;
		text-align: center !important;
		font-family: $font_family_1;
	}
}
.goToStart {
	color: $color_1 !important;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 20%;
}
.continueShopping {
	color: $color_1 !important;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 20%;
}
.start {
	position: absolute;
	right: 40px;
	top: 30px;
	color: $color_2;
	font-weight: bold;
}
footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: $background_color_2;
	color: $color_3;
	font-weight: bold;
	font-size: 12px;
}
//////////////////// 
	.productWrapper {
		background-color: $background_color_3 !important;
	}

.itemWrapper {
	background-color: $background_color_4;
	vertical-align: top;
	display: inline-block;
	height: auto;
	width: 60%;
	padding: 20px;
	margin: 20px;
	margin-top: 0;
	border: 1px solid #e5e5e5;
	color: $color_4;
	text-align: center;
	h3 {
		font-weight: 700;
		font-size: 25px;
	}
}
p {
	text-align: right;
	font-family: $font_family_2;
	font-size: 10px;
	margin-bottom: 0px !important;
}
.cart {
	display: block;
	top: 70px;
	right: 0;
	color: $color_5;
	z-index: 1;
	border-radius: 5px;
	padding: 20px;
}
#showCart {
	list-style: none;
	font-size: 13px;
	font-family: $font_family_2;
	padding-left: 0px;
	margin-top: 20px;
	text-align: right;
}
.cartImg {
	display: block;
	width: 150px;
    max-height: 100px;
	border: 4px solid black;
	float: left;
}
.totalPay {
	font-size: 16px;
	font-family: $font_family_1;
	font-weight: bold;
}
.minusItem {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 0;
	text-align: center;
	padding: 0;
	font-size: 10px;
	background-color: $background_color_5;
	color: $color_3;
	border-radius: 20px;
	margin-left: 5px;
}
.plusItem {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 0;
	text-align: center;
	padding: 0;
	font-size: 10px;
	background-color: $background_color_5;
	color: $color_3;
	border-radius: 20px;
	margin-left: 5px;
}
.changeCount {
	margin: 0px;
}
.deleteItem {
	display: inline-block;
	margin-top: 10px;
	width: 60px;
	height: 20px;
	border: 1px solid gray;
	text-align: center;
	padding: 0;
	font-size: 10px;
	background-color: $background_color_5;
	color: $color_3;
	border-radius: 20px;
}
.checkout {
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
	float: right;
}
#checkBox {
	margin: 0px;
}
form {
	text-align: left;
}
#formName {
	width: 60%;
	margin-bottom: 5px;
}
#formEmail {
	width: 60%;
	margin-bottom: 5px;
}
#formAdress {
	width: 60%;
	margin-bottom: 5px;
}
#formZip {
	width: 30%;
}
#formOrt {
	width: 30%;
}
#formButton {
	width: 100%;
	margin-top: 10px;
	height: 35px;
	border: 1px solid gray;
	text-align: center;
	padding: 0;
	font-size: 12px;
	background-color: $background_color_5;
	color: $color_3;
	float: right;
	font-weight: bold;
	text-transform: uppercase;
}


@mixin scrollbar($size, $primary, $secondary: darken($primary, 15%)) {
	::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}

	::-webkit-scrollbar-thumb {
		background: $primary;
	}

	::-webkit-scrollbar-track {
		background: $secondary;
	}
  
  // For Internet Explorer
  body {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}

/**
 * Call the damn thing
 */
@include scrollbar($size, $primary);