@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300";
/*@keyframes slideIn {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}*/
@keyframes "scaling" {
  From {
    -webkit-transform: scale(1); }
  To {
    -webkit-transform: scale(2); } }

/**
 * Call the damn thing
 */
::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

::-webkit-scrollbar-thumb {
  background: #414141; }

::-webkit-scrollbar-track {
  background: #1b1b1b; }

body {
  scrollbar-face-color: #414141;
  scrollbar-track-color: #1b1b1b; }

html body {
  background-color: black;
  background-size: cover;
  text-align: center !important;
  font-family: Raleway;
  margin: 0; }

.menu {
  position: absolute;
  top: 480px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  .menu img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px; }

.menuItem {
  display: inline-block;
  margin: 0 2%; }
  .menuItem:hover .menuText {
    color: #ffffff; }

.menuText {
  display: block;
  font-size: 16px;
  font-weight: 100;
  color: #808080;
  font-weight: bold; }

a {
  text-decoration: none; }

.active {
  font-weight: 300; }

.start {
  position: absolute;
  right: 40px;
  top: 30px;
  color: #808080;
  font-weight: bold;
  text-transform: uppercase; }

.rubrik {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  color: #f0f0f0;
  text-shadow: 0px 0px 30px #000000;
  height: 170px;
  font-family: Raleway, "Times new roman";
  font-weight: 100;
  font-size: 100px;
  border-bottom: 1px dotted gray; }

.slideContent {
  position: relative;
  width: 100%;
  height: 532px;
  margin: auto; }
  .slideContent img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 532px; }

.slideContent1 {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 532px;
  margin: auto; }
  .slideContent1 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 532px; }

.citat {
  position: fixed;
  top: 100px;
  width: 600px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 5;
  font-size: 60px;
  font-weight: 100;
  text-shadow: 2px 2px 2px #969696; }

.kontaktContainer, .infoContainer {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 250px;
  /*padding: 0 10% 0 10%;*/ }

.infotext {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: left;
  display: block;
  margin: auto;
  width: 450px;
  height: 235px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 150px;
  font-size: 14px;
  line-height: 16pt;
  /*background: -webkit-linear-gradient(left top, black , #242424);
	background: -o-linear-gradient(bottom right, black , #242424);
	background: -moz-linear-gradient(bottom right, black , #242424);
	background: linear-gradient(to bottom right, black , #242424);*/ }
  .infotext p {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100; }
  .infotext img {
    width: 400px;
    height: 200px;
    margin-bottom: 10px; }

.space {
  display: block;
  width: 20px; }

.social {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px; }
  .social img {
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0; }

#form {
  font-size: 12px; }

form input {
  width: 100%;
  margin-bottom: 5px; }

form textarea {
  width: 99%; }

form label {
  font-size: 10px; }

form #send {
  display: inline-block;
  width: 60px;
  height: 20px; }

#messages {
  display: none;
  width: 200px;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #7d4557;
  border-radius: 5px;
  padding: 3px 7px 3px 7px;
  opacity: 0.5; }

.gallery {
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 220px;
  white-space: nowrap;
  width: 85%;
  box-shadow: inset 10px 10px 10px -50px #D4D4CC, inset 10px 10px 10px -50px #D4D4CC; }
  .gallery .image {
    display: inline-block;
    margin: 5px;
    width: 280px;
    height: auto;
    top: 20px;
    margin: auto;
    position: relative;
    white-space: nowrap; }
    .gallery .image .desc {
      color: #414141; }

#arrowLeft {
  position: relative;
  top: -85px;
  height: 50px;
  margin: 20px;
  opacity: 0.2; }
  #arrowLeft:hover {
    opacity: 0.5; }

#arrowRight {
  position: relative;
  top: -85px;
  height: 50px;
  margin: 20px;
  opacity: 0.2; }
  #arrowRight:hover {
    opacity: 0.5; }

.thumbnail {
  opacity: 1.0;
  filter: brightness(80%);
  box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.83); }
  .thumbnail:hover {
    opacity: 1.0;
    filter: brightness(100%); }

.scalePicture {
  animation: scaling 5s; }

#cover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  display: none; }

#modalPopup {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  display: none; }

.picture {
  display: inline-block;
  margin: 20px;
  max-width: 900px;
  max-height: 600px; }

.closeCross {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px; }

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #131313;
  color: white;
  font-weight: bold;
  font-size: 12px; }

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0; }
  .rubrik {
    margin-top: 120px; }
  .kontaktContainer {
    width: 100%;
    display: block;
    margin: 0; }
  .infoContainer {
    width: 100%;
    display: block;
    margin: 0; }
  .infotext {
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
    padding-bottom: 20px;
    height: auto;
    font-size: 16px; }
  form input {
    width: 100px; }
  form textarea {
    width: 100px; }
  .gallery {
    display: block;
    flex-wrap: wrap;
    overflow-x: visible;
    overflow-y: visible;
    height: auto;
    white-space: normal;
    width: 85%;
    box-shadow: inset 10px 10px 10px -50px #D4D4CC, inset 10px 10px 10px -50px #D4D4CC; }
  #arrowLeft {
    display: none; }
  #arrowRight {
    display: none; }
  #cover {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed; }
  #modalPopup {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .picture {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0; }
  .citat {
    margin-top: 100px;
    max-width: 100%;
    font-size: 40px;
    max-height: 200px; }
  .slideContent {
    margin-top: 100px;
    max-width: 100%;
    font-size: 40px;
    max-height: 200px; }
    .slideContent img {
      margin-top: 50px;
      height: auto; } }

.goToStart {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px; }

.webshop {
  display: block;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: #ffffff; }

.productWrapper {
  height: 300px;
  margin-bottom: 40px; }

.itemWrapper {
  vertical-align: top;
  display: inline-block;
  height: 300px;
  width: 230px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #e5e5e5;
  color: #ffffff;
  text-align: center; }
  .itemWrapper h3 {
    font-weight: 700;
    font-size: 16px; }
  .itemWrapper img {
    display: block;
    margin: auto;
    max-width: 180px;
    max-height: 135px; }

.itemImg {
  height: 135px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.cart-icon {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 2;
  top: 44px;
  right: 10px;
  height: 50px;
  width: 50px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGZpbGw9IiMzMTRENUQiIGQ9Ik00LDIxYzAsMC42LDAuNCwxLDEsMWgyNWMwLjYsMCwxLTAuNCwxLTFzLTAuNC0xLTEtMUg2di0yaDE5YzAuNSwwLDAuOS0wLjMsMS0wLjhsMy0xMmMwLjEtMC4zLDAtMC42LTAuMi0wLjlTMjguMyw0LDI4LDRINlYxYzAtMC42LTAuNC0xLTEtMUgxQzAuNCwwLDAsMC40LDAsMXMwLjQsMSwxLDFoM1YyMXoiLz48Y2lyY2xlIGZpbGw9IiMzMTRENUQiIGN4PSI3IiBjeT0iMjgiIHI9IjMiLz48Y2lyY2xlIGZpbGw9IiMzMTRENUQiIGN4PSIyOCIgY3k9IjI4IiByPSIzIi8+PC9nPjwvc3ZnPg==) no-repeat center center; }

.cart-icon #totalItems {
  position: absolute;
  top: 2px;
  right: 5px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  background-color: #46b29d;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s 0s;
  -moz-transition: -moz-transform 0.2s 0s;
  transition: transform 0.2s 0s; }

@media (max-width: 890px) {
  .gallery {
    max-width: 70%; } }

/***********WEBBSHOP***********/
.productWrapper {
  background-color: #ffffff !important; }

.productWrapper {
  background-color: #ffffff; }

.itemWrapper {
  background-color: #ffffff;
  vertical-align: top;
  display: inline-block;
  height: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-align: center; }
  .itemWrapper h3 {
    font-weight: 700;
    font-size: 16px; }
  .itemWrapper img {
    display: block;
    margin: auto;
    max-width: 180px;
    max-height: 135px; }

.itemImg {
  height: 135px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black; }

.text {
  text-align: right;
  font-family: verdana;
  font-size: 10px;
  margin-bottom: 0px !important; }

.price {
  font-weight: bold;
  font-size: 16px; }

.addToBasket {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: black;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase; }

.cart {
  display: none;
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.95);
  color: #ffffff;
  z-index: 1;
  border-radius: 5px;
  padding: 20px; }
  .cart > p {
    font-family: verdana; }

#showCart {
  list-style: none;
  font-size: 13px;
  font-family: verdana;
  padding-left: 0px;
  padding-right: 10px;
  margin-top: 20px;
  width: 200px;
  max-height: 400px;
  text-align: right;
  overflow-y: scroll;
  overflow-x: hidden; }

.cartImg {
  display: block;
  width: 150px;
  border: 4px solid black;
  margin: auto; }

.minusItem {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: #808080;
  border-radius: 20px;
  margin-left: 5px; }

.plusItem {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: #808080;
  border-radius: 20px;
  margin-left: 5px; }

.changeCount {
  float: left; }

.deleteItem {
  display: inline-block;
  float: left;
  width: 60px;
  height: 20px;
  border: 1px solid gray;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: #ffffff;
  border-radius: 20px; }

.checkout {
  margin-top: 10px;
  width: 90px;
  height: 25px;
  border: 1px solid gray;
  text-align: center;
  padding: 0;
  font-size: 12px;
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  float: right;
  font-weight: bold;
  text-transform: uppercase; }

.cart-icon {
  z-index: 5;
  position: fixed;
  top: 40px;
  right: 10px;
  height: 57px;
  width: 57px;
  color: #ffffff;
  background: url("images/shoppingCart.png") no-repeat center center; }
  .cart-icon #itemsInCart {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    background-color: #ffffff;
    color: #955b6e !important;
    font-family: Raleway;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%; }
