@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300";
@import "https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day";
/*********** MEDIA QUERIES **********/
/***********WEBBSHOP***********/
/*********** SCROLLBAR **********/
html body {
  background-color: black;
  background-size: cover;
  text-align: center !important;
  font-family: Raleway; }

.webHeader {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: -95px;
  font-size: 70px;
  color: white;
  padding-bottom: 5px; }

hr.productList {
  border: none;
  height: 1px;
  margin-top: 20px !important;
  margin-bottom: 30px;
  background-color: rgba(73, 40, 67, 0.4);
  z-index: 5; }

.continueShopping {
  position: absolute;
  margin-top: -90px;
  color: #808080 !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 53%;
  z-index: 1; }
  .continueShopping:hover {
    color: #ffffff !important;
    text-decoration: none; }

.header {
  width: 100%;
  z-index: 1;
  height: 100px; }
  .header hr {
    border: none;
    height: 1px;
    margin-top: 50px;
    background-color: white;
    z-index: 5; }
  .header .circle {
    margin-top: -45px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
    width: 75px;
    height: 75px;
    float: right;
    margin-right: 10%; }
    .header .circle:hover .start {
      color: #d1d1d1;
      text-decoration: none; }

.start {
  margin-top: 29px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px; }
  .start:hover .start {
    color: #d1d1d1;
    text-decoration: none; }

.headerRubrik {
  position: absolute;
  color: #ffffff;
  font-family: 'Dawning of a New Day', cursive;
  font-weight: 100;
  font-size: 50px;
  margin-top: -59px;
  margin-left: 30px;
  box-shadow: -2px 2px 10px black;
  -moz-box-shadow: -2px 2px 40px black;
  -webkit-box-shadow: 0 0 20px black;
  -o-box-shadow: -2px 2px 40px black;
  padding: 5px;
  background-color: black;
  z-index: 3; }

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #131313;
  color: white;
  font-weight: bold;
  font-size: 12px; }

.productWrapper {
  background-color: #ffffff !important; }

.itemWrapper {
  background-color: white;
  vertical-align: top;
  display: inline-block;
  height: auto;
  width: 60%;
  padding: 20px;
  margin: 20px;
  margin-top: 0;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-align: center; }
  .itemWrapper h3 {
    font-weight: 700;
    font-size: 25px; }

p {
  text-align: right;
  font-family: verdana;
  font-size: 10px;
  margin-bottom: 0px !important; }

.cart {
  display: block;
  top: 70px;
  right: 0;
  color: black;
  z-index: 1;
  border-radius: 5px;
  padding: 20px; }

#showCart {
  list-style: none;
  font-size: 13px;
  font-family: verdana;
  padding-left: 0px;
  margin-top: 20px;
  text-align: right; }

.cartImg {
  display: block;
  max-width: 180px;
  max-height: 150px;
  border: 4px solid black;
  float: left; }

.productTitle {
  display: inline-block;
  width: 470px;
  font-size: 40px;
  font-family: raleway;
  text-align: left; }

.totalPay {
  font-size: 16px;
  font-family: Raleway;
  font-weight: bold; }

.minusItem {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 5px; }

.plusItem {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 5px; }

.changeCount {
  margin: 0px; }

.deleteItem {
  display: inline-block;
  margin-top: 10px;
  width: 60px;
  height: 20px;
  border: 1px solid gray;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: white;
  border-radius: 20px; }

.checkout {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  float: right; }

#checkBox {
  margin: 0px; }

form {
  text-align: left; }

#formName {
  width: 60%;
  margin-bottom: 5px; }

#formEmail {
  width: 60%;
  margin-bottom: 5px; }

#formAdress {
  width: 60%;
  margin-bottom: 5px; }

#formZip {
  width: 30%; }

#formOrt {
  width: 30%; }

#formButton {
  width: 100%;
  margin-top: 10px;
  height: 35px;
  border: 1px solid gray;
  text-align: center;
  padding: 0;
  font-size: 12px;
  background-color: black;
  color: white;
  float: right;
  font-weight: bold;
  text-transform: uppercase; }

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: tahoma;
  background-color: black;
  color: white;
  font-size: 12px; }

@media (max-width: 768px) {
  .webHeader {
    margin-top: -80px;
    font-size: 60px; }
  .continueShopping {
    z-index: 50; }
  .header {
    width: 100%;
    z-index: 1;
    height: 100px; }
    .header hr {
      border: none;
      height: 1px;
      margin-top: 50px;
      background-color: white;
      z-index: 5; }
    .header .circle {
      border: none;
      margin-top: -60px;
      margin-right: 2px;
      background-color: transparent; }
      .header .circle .start {
        margin-top: 5px;
        color: #FFFFFF;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px; } }

::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

::-webkit-scrollbar-thumb {
  background: #414141; }

::-webkit-scrollbar-track {
  background: #1b1b1b; }

body {
  scrollbar-face-color: #414141;
  scrollbar-track-color: #1b1b1b; }
