@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300";
/*********** MEDIA QUERIES **********/
/***********WEBBSHOP***********/
/*********** SCROLLBAR **********/
html body {
  background-color: black;
  background-size: cover;
  text-align: center !important;
  font-family: Raleway; }

.goToStart {
  color: #ffffff !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 20%; }

.continueShopping {
  color: #ffffff !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 20%; }

.start {
  position: absolute;
  right: 40px;
  top: 30px;
  color: #808080;
  font-weight: bold; }

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #131313;
  color: white;
  font-weight: bold;
  font-size: 12px; }

.productWrapper {
  background-color: #ffffff !important; }

.itemWrapper {
  background-color: white;
  vertical-align: top;
  display: inline-block;
  height: auto;
  width: 60%;
  padding: 20px;
  margin: 20px;
  margin-top: 0;
  border: 1px solid #e5e5e5;
  color: #000000;
  text-align: center; }
  .itemWrapper h3 {
    font-weight: 700;
    font-size: 25px; }

p {
  text-align: right;
  font-family: verdana;
  font-size: 10px;
  margin-bottom: 0px !important; }

.cart {
  display: block;
  top: 70px;
  right: 0;
  color: black;
  z-index: 1;
  border-radius: 5px;
  padding: 20px; }

#showCart {
  list-style: none;
  font-size: 13px;
  font-family: verdana;
  padding-left: 0px;
  margin-top: 20px;
  text-align: right; }

.cartImg {
  display: block;
  width: 150px;
  max-height: 100px;
  border: 4px solid black;
  float: left; }

.totalPay {
  font-size: 16px;
  font-family: Raleway;
  font-weight: bold; }

.minusItem {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 5px; }

.plusItem {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 5px; }

.changeCount {
  margin: 0px; }

.deleteItem {
  display: inline-block;
  margin-top: 10px;
  width: 60px;
  height: 20px;
  border: 1px solid gray;
  text-align: center;
  padding: 0;
  font-size: 10px;
  background-color: black;
  color: white;
  border-radius: 20px; }

.checkout {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  float: right; }

#checkBox {
  margin: 0px; }

form {
  text-align: left; }

#formName {
  width: 60%;
  margin-bottom: 5px; }

#formEmail {
  width: 60%;
  margin-bottom: 5px; }

#formAdress {
  width: 60%;
  margin-bottom: 5px; }

#formZip {
  width: 30%; }

#formOrt {
  width: 30%; }

#formButton {
  width: 100%;
  margin-top: 10px;
  height: 35px;
  border: 1px solid gray;
  text-align: center;
  padding: 0;
  font-size: 12px;
  background-color: black;
  color: white;
  float: right;
  font-weight: bold;
  text-transform: uppercase; }

/**
 * Call the damn thing
 */
::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

::-webkit-scrollbar-thumb {
  background: #414141; }

::-webkit-scrollbar-track {
  background: #1b1b1b; }

body {
  scrollbar-face-color: #414141;
  scrollbar-track-color: #1b1b1b; }
